:root {
  --color-primary: #3c47e9;
  --color-secondary: #1e213a;
  --color-body: #100e1d;
  --color-placeholder: #616475;
}

html {
  font-size: 62.5%;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: Raleway, sans-serif;
  font-size: 2rem;
}

/* input */
.input {
  padding: 1.5rem;
  outline: 0;
  color: #fff;
}

::placeholder {
  color: var(--color-placeholder);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

/* input-group */

.input-group {
  border: 2px solid #e7e7eb;
  display: flex;
  align-items: center;
}

.input--secondary {
  background: var(--color-secondary);
}

.input-group .input {
  border: 0;
  flex-grow: 1;
  margin: 0;
  padding-left: 0;
  width: 0;
}

.input-group__icon {
  fill: var(--color-placeholder);
  margin: 1.5rem;
}

/* icon */
.icon {
  height: 2rem;
  margin: 1rem;
  width: 2rem;
}

.icon--medium {
  transform: scale(1.5);
}

.icon--white {
  fill: #fff;
}

.icon--grey {
  fill: #88869d;
}

.icon--container {
  align-items: center;
  background-color: #636572;
  border-radius: 100%;
  display: flex;
  height: 40px;
  justify-content: center;
  width: 40px;
}

/* grid */

.grid {
  display: grid;
}

.grid--3x2 {
  grid-template-columns: repeat(2, 12rem);
  grid-template-rows: repeat(3, 17.7rem);
  gap: 26px;
}

.grid--2x2 {
  grid-template-columns: repeat(2, 32.8rem);
  grid-template-rows: repeat(1, 20.4rem);
  gap: 48px;
}

.grid--2x2-small {
  grid-template-rows: repeat(1, 16rem);
}

.grid--2x2-smallest {
  grid-template-columns: 1fr auto;
  gap: 1.2rem;
}

@media screen and (min-width: 768px) {
  .grid--1x5 {
    grid-template-columns: repeat(5, 12rem);
  }
}

/* Buttons */

.btn {
  font-size: 2rem;
  padding: 1.5rem 2rem;
  border: 0;
  color: #fff;
  cursor: pointer;
}

.btn--primary {
  background: var(--color-primary);
}

.btn--grey {
  background-color: #636572;
}

.btn--stretched {
  padding: 1.2rem 2rem;
}

a.btn {
  text-decoration: none;
}

/* Expandables */

.expandable {
  font-size: 2rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.expandable:hover {
  border: 1px solid var(--color-placeholder);
}

.expandable__text {
  flex-grow: 1;
  margin: 2.3rem 1.2rem;
  color: #e7e7eb;
}

.expandable__icon {
  fill: var(--color-placeholder);
}

/* navbar */

.nav,
.nav__expandable-content {
  padding: 0 1.3rem;
  background: var(--color-secondary);
  font-size: 1.6rem;
  height: 100vh;
  color: white;
  overflow-x: hidden;
}

.nav__toggler {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0;
  margin: 17.4px 0 30px;
}

.nav__grid {
  margin: 2rem auto;
  outline: 0;
  border: 0;
  margin-top: 0;
}

@media screen and (min-width: 768px) {
  .nav__toggler {
    margin-bottom: 5px;
  }
  .nav__input {
    height: 100%;
    padding-left: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 14px;
    color: #fff;
  }

  .nav__input::placeholder {
    font-size: 9px;
  }
  .nav__grid .input-group {
    height: 30px;
    border-width: 1px;
  }
  .nav__btn {
    height: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 10px;
  }
  .nav__grid {
    margin: 1rem auto;
  }

  .expandable__text {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }
}

.nav__grid .input-group {
  border: 1px solid white;
}

.nav .input-group {
  background: var(--color-secondary);
}

.nav__expandables .expandable:first-of-type {
  margin-top: 0px;
}

.nav__content {
  display: block;
}

.nav__expandable-content {
  position: relative;
  padding-top: 1.1rem;
  background: var(--color-secondary);
  height: 810px;
  width: 100%;
  color: #88869d;
}

.expandable__bg {
  position: absolute;
  top: 8%;
  left: -20%;
  opacity: 0.1;
  width: 137%;
  height: auto;
}

.expandable__image {
  position: absolute;
  left: 0;
  right: 0;
  width: 150px;
  margin: 60px auto 0;
}

.expandable__header {
  display: flex;
  justify-content: space-between;
}

.expandable__temp {
  color: white;
  display: flex;
  font-size: 14.4rem;
  font-weight: 500;
  justify-content: center;
  margin: 250px auto 0;
}

.expandable__temp-symbol {
  font-size: 50px;
  color: #a09fb1;
  transform: translateY(82px);
}

.expandable__weather-status {
  margin: 20px auto 43px;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  font-size: 3.6rem;
}

.expandable__date {
  margin: 0rem auto;
  font-style: normal;
  font-weight: 500;
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
}

.expandable__location {
  margin: 3.3rem auto;
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.expandable__icon {
  width: 1.3rem;
  height: 1.3rem;
}
@media screen and (min-width: 768px) {
  .nav,
  .nav__expandable-content {
    padding: 0 20px;
    width: 30vw;
    height: 100vh;
  }

  .expandable__header {
    margin-top: 3rem;
  }

  .nav__icon,
  .nav__btn {
    height: 30px;
  }

  .nav__btn {
    padding: 6px;
    font-size: 10px;
  }

  .nav__icon {
    width: 30px;
  }

  .expandable__bg {
    top: 13%;
  }

  .nav__expandable-content {
    padding-top: 2px;
  }

  .expandable__image {
    margin: 10px auto;
    transform: scale(0.7);
  }

  .expandable__temp {
    margin-top: 235px;
    font-size: 79px;
    line-height: 0;
    transform: translateY(20px);
  }

  .expandable__temp-symbol {
    font-size: 27px;
    transform: translateY(15px);
  }
  .expandable__weather-status {
    margin-top: 90px;
    margin-bottom: 0;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
  }

  .expandable__date {
    font-weight: 500;
    font-size: 10px;
    margin: 30px 0 10px;
  }

  .expandable__location {
    margin: 0px;
    font-size: 11px;
    display: flex;
    align-items: center;
  }

  .expandable__icon {
    width: 10px;
    height: 10px;
    margin: 5px;
  }
}

@media screen and (min-width: 1024px) {
  .nav,
  .nav__expandable-content {
    width: 20vw;
  }

  .expandable__bg {
    top: 12%;
  }

  .expandable__image {
    margin-top: 50px;
  }
  .expandable__temp {
    margin-top: 250px;
  }
  .expandable__weather-status {
    margin-top: 110px;
    font-size: 30px;
  }
  .expandable__temp-symbol {
    font-size: 30px;
  }
  .expandable__date {
    margin-top: 40px;
    font-size: 10px;
  }
  .expandable__location {
    margin-top: 10px;
    font-size: 10px;
  }
}
