:root {
  --color-primary: #3c47e9;
  --color-secondary: #1e213a;
  --color-body: #100e1d;
  --color-placeholder: #616475;
}

html {
  font-size: 62.5%;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: Raleway, sans-serif;
  font-size: 2rem;
}

/* input */
.input {
  padding: 1.5rem 5rem;
  outline: 0;
}

::placeholder {
  color: var(--color-placeholder);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}

/* input-group */

.input-group {
  border: 2px solid #e7e7eb;
  display: flex;
  align-items: center;
}

.input-group .input {
  border: 0;
  margin: 0;
  padding-left: 0;
  flex-grow: 1;
}

.input-group__icon {
  fill: var(--color-placeholder);
  height: 2rem;
  width: 2rem;
  margin: 1.5rem;
}

/* grid */

.grid {
  display: grid;
}

.grid--3x2 {
  grid-template-columns: repeat(2, 12rem);
  grid-template-rows: repeat(3, 17.7rem);
  gap: 26px;
}

.grid--2x2 {
  grid-template-columns: repeat(2, 32.8rem);
  grid-template-rows: repeat(1, 20.4rem);
  gap: 48px;
}

.grid--2x2-small {
  grid-template-rows: repeat(1, 16rem);
}

@media screen and (min-width: 768px) {
  .grid--1x5 {
    grid-template-columns: repeat(5, 12rem);
  }
}
