<div class="expandable">
  <p class="expandable__text">London</p>
  <svg class="icon expandable__icon">
    <use xlink:href="images/sprite.svg#chevron_right"></use>
  </svg>
</div>
<div class="expandable">
  <p class="expandable__text">Barcelona</p>
  <svg class="icon expandable__icon">
    <use xlink:href="images/sprite.svg#chevron_right"></use>
  </svg>
</div>
<div class="expandable">
  <p class="expandable__text">Long Beach</p>
  <svg class="icon expandable__icon">
    <use xlink:href="images/sprite.svg#chevron_right"></use>
  </svg>
</div>
