<div class="grid grid--3x2 grid--1x5">
  <div style="background: tomato" class="grid__image"></div>
  <div style="background: tomato" class="grid__image"></div>
  <div style="background: tomato" class="grid__image"></div>
  <div style="background: tomato" class="grid__image"></div>
  <div style="background: tomato" class="grid__image"></div>
</div>
<div class="grid grid--2x2">
  <div style="background: tomato" class="grid__image"></div>
  <div style="background: tomato" class="grid__image"></div>
</div>
